<div class="mx-auto w-1/2">
  <h2 class="text-2xl text-gray-900">
    Top 10 HackerNews Stories as of <%= @latest_story.posted_at.localtime %>
  </h2>
  <div class="w-full max-w-2xl bg-gray-100 py-8 px-4 border border-gray-200 rounded shadow-sm">
    <ul id="tasks">
      <%= render @stories %>
    </ul>
  </div>
</div>